.loader {
  position: relative;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 1rem dashed #44e6ee;
  border-radius: 50%;
  margin: 1rem;
  animation: rotation 2s ease infinite;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
