
.wrapper span {
  position: relative;
  margin: auto,;
}

.card:active {
  .movie {
    height: 440px;
    width: 280px;
  }
}

.popup {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  

  &__content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 140px;
    padding: 100px 40px;
  }

  .btn-add {
    position: absolute;
    border-radius: 5px;
    left: 50px;
    top: 25px;
    width: 200px;
    height: 50px;

    &:hover {
      background-color: rgb(204, 204, 204);
    }
  }

  .btn-close {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}

.is-in-list {
  opacity: 0.4;
  border-radius: 10px;
}

.is-choisen {
  visibility: visible;
  cursor: not-allowed;
  opacity: 0.4;
}
