.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

.error {
  padding: 10px 15px;
  border: 1px solid #ea0000;
  color: #ea0000;
  font-size: 14px;
}
